* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 600px;
  min-height: 350px;
  background-color: #fff;
  margin: 150px auto 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}

.title {
  text-align: center;
  font-size: 24px;
  margin: 0;
}

.converted_values__block, .converted_settings__block{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.converted_values__block{
  height: 125px;
}

.converted_values__block i{
  font-size: 32px;
}

.convert {
  position: relative;
  width: 215px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
  background-color: #e6e6e6;
  text-align: center;
  padding: 20px 15px;
  font-size: 34px;
}

.convert .currency_value{
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.convert .currency_name{
  position: absolute;
  display: block;
  font-size: 12px;
  bottom: 20px;
  left: 45%;
}

select{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
  background-color: #e6e6e6;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  border: none;
}

input{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
  background-color: #e6e6e6;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  border: none;
}